body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #585353; /* Set a background color for the entire page */
}



.banner {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
}

h2 {
  color: #fff; /* White text for headings */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

/* Add your existing styles here */


.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.color-list-container {
  margin-top: 20px; /* Add margin as needed */
  text-align: center; /* Center the content */
}

h3 {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}


label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
